html {
  box-sizing: border-box; }

body {
  margin: 0; }
  body p {
    margin: 0; }
  body h2 {
    margin: 0; }

.top-header {
  background-color: red;
  font-family: "Roboto", sans-serif;
  height: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  .top-header h3 {
    text-transform: uppercase;
    margin-left: 25px;
    font-family: "Anton", sans-serif;
    letter-spacing: .7px;
    font-weight: lighter; }
  .top-header p {
    margin-left: 20px;
    letter-spacing: .5px; }

img {
  height: 20px;
  margin-left: 15px; }

header {
  padding-top: 10px;
  height: 40px;
  background-color: #005594;
  font-family: "Roboto", sans-serif; }
  header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase; }

.right-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 50px;
  margin-top: -25px; }
  .right-header .sign-in {
    text-align: right; }
    .right-header .sign-in a {
      margin-right: 5px;
      font-size: 12px; }
      .right-header .sign-in a:hover {
        color: #d1bb7e; }
  .right-header .make-it {
    text-align: right;
    margin-left: 20px;
    font-size: 12px;
    margin-right: 12px; }
    .right-header .make-it a:hover {
      color: #d1bb7e; }
  .right-header .vl {
    border-left: 1px solid white;
    height: 14px;
    margin-left: 10px;
    margin-top: 4px; }
  .right-header img {
    margin-left: 5px;
    margin-bottom: -5px; }
  .right-header button {
    background-color: #326aa0;
    padding: 15px 15px;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px; }
    .right-header button:hover {
      color: #d1bb7e; }
  .right-header .lnr {
    margin-left: 10px; }

nav {
  margin-top: -10px;
  padding: none;
  background-color: #005594;
  font-family: "Roboto", sans-serif;
  padding: 10px; }
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase; }
  nav img {
    height: 23px; }
  nav a {
    margin-left: 25px; }
    nav a:hover {
      color: #d1bb7e; }
  nav .usa {
    font-size: 13px;
    float: right;
    margin-right: 150px;
    margin-top: -40px; }
    nav .usa a:nth-child(1) {
      text-decoration: underline; }

.banner {
  margin-left: 600px;
  margin-top: 25px; }
  .banner img {
    width: 730px;
    height: 90px; }

section {
  margin-top: 25px; }
  section img {
    width: 1140px;
    height: 80px;
    margin-top: 25px;
    margin-left: 175px; }
  section nav {
    background-color: black;
    font-family: "Roboto", sans-serif;
    width: 1118px;
    height: 36px;
    margin-left: 175px; }
    section nav a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
    section nav a {
      margin-right: 25px;
      margin-left: 25px; }

.row2 {
  width: 1140px;
  height: 430px;
  margin-left: 175px;
  display: flex;
  flex-direction: row; }
  .row2 .marcusPhoto img {
    width: 720px;
    height: 405px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 50px; }
  .row2 .ink-banner img {
    width: 300px;
    height: 250px;
    margin-top: 100px;
    margin-left: 50px; }

.slides-rowOne {
  width: 1100px; }
  .slides-rowOne h2 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: gray;
    margin-top: 25px;
    margin-left: 200px; }
  .slides-rowOne .photos {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px; }
  .slides-rowOne img {
    width: 240px;
    height: 135px;
    margin-top: 10px; }

.slides-rowTwo {
  width: 1100px; }
  .slides-rowTwo h2 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: gray;
    margin-top: 25px;
    margin-left: 200px; }
  .slides-rowTwo .photos {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px; }
  .slides-rowTwo img {
    width: 240px;
    height: 135px;
    margin-top: 10px; }

/*# sourceMappingURL=output.css.map */
