//variable
$blue: #005594;
$gblue: #326aa0;
$gold: #d1bb7e;
$roboto: 'Roboto', sans-serif;
$anton: 'Anton', sans-serif;


@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;

}

@mixin flex-rowOne {
  display: flex;
  flex-direction: row;
}

@mixin alinks {
  font-family: $roboto;
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@mixin hover {
  &:hover {
      color: $gold;
    }

}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  p {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
}

.top-header {
  background-color: red;
  font-family: $roboto;
  height: 50px;
  color: white;
  @include flex-row;
  justify-content: flex-start;


  h3 {
    text-transform: uppercase;
    margin-left: 25px;
    font-family: $anton;
    letter-spacing: .7px;
    font-weight: lighter;
  }

  p {
    margin-left: 20px;
    letter-spacing: .5px;
  }
} //end of top-header

img {
  height: 20px;
  margin-left: 15px;



}
header {
  // margin-top: 10px;
  padding-top: 10px;
  height: 40px;
  background-color: $blue;
  @include alinks;

}

.right-header {
  @include flex-rowOne;
  justify-content: flex-end;
  margin-left: 50px;
  // align-content: center;
  margin-top: -25px;

  .sign-in {
    text-align: right;

    a {
      margin-right: 5px;
      font-size: 12px;
      @include hover;
    }

  }
  .make-it {
    // margin-top: 5px;
    text-align: right;
    margin-left: 20px;
    font-size: 12px;
    margin-right: 12px;

    a {
      @include hover;
    }
  }

  .vl {
  border-left: 1px solid white;
  height: 14px;
  margin-left: 10px;
  // margin-right: 10px;
  margin-top: 4px;

}
  img {
    margin-left: 5px;
    margin-bottom: -5px;
  }

  button {
    background-color: $gblue;
    padding: 15px 15px;
    border: none;
    color: white;
    font-family: $roboto;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    @include hover;
  }

  .lnr {
    margin-left: 10px;
  }
}

nav {
  margin-top: -10px;
  padding: none;
  background-color: $blue;
  // @include flex-rowOne;
  @include alinks;
  padding: 10px;

  img {
    height: 23px;}
  a {
    margin-left: 25px;
    @include hover;
  }
  .usa {
    font-size: 13px;
    float:right;
    margin-right: 150px;
    margin-top: -40px;
      a:nth-child(1) {
        text-decoration: underline;
        }
    }
  }//end of nav

.banner {
  margin-left: 300px;
  margin-top: 25px;
  img {
    width: 60%;
    height: 20%;
  }
}

section {
  width: 80%;
  img {
    border-color: black;
    width: 101.7%;
    height: 20%;
    margin-top: 25px;
    margin-left: 175px;

  }
nav {
  background-color: black;
  @include alinks;
  width: 100%;
  margin-left: 175px;

  a {
    margin-right: 25px;
    margin-left: 25px;
  // @include flex-rowOne;
  // justify-content: space-around;
  // height: 50px;
  }
}

}
