//variable
$blue: #005594;
$roboto: 'Roboto', sans-serif;
$anton: 'Anton', sans-serif;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;

}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  p {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
}

.top-header {
  background-color: red;
  font-family: $roboto;
  height: 50px;
  color: white;
  @include flex-row;
  justify-content: flex-start;


  h3 {
    text-transform: uppercase;
    margin-left: 25px;
    font-family: $anton;
    letter-spacing: .7px;
    font-weight: lighter;
  }

  p {
    margin-left: 20px;
    letter-spacing: .5px;
  }
} //end of top-header

header {
  height: 80px;
  background-color: $blue;
  @include flex-row;

}



.frist-line {
  @include flex-row;
  justify-content: flex-end;

  img {
    height: 70px;
    // width: 150px;
    margin-left: 20px;
  }

}
.make-it {
  color: black;

}



.first-line {
  align-items: flex-end;
}





// end of header
