//variable
$blue: #005594;
$roboto: 'Roboto', sans-serif;
$anton: 'Anton', sans-serif;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;

}

@mixin flex-rowOne {
  display: flex;
  flex-direction: row;
}

@mixin alinks {
  font-family: $roboto;
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  p {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
}

.top-header {
  background-color: red;
  font-family: $roboto;
  height: 50px;
  color: white;
  @include flex-row;
  justify-content: flex-start;


  h3 {
    text-transform: uppercase;
    margin-left: 25px;
    font-family: $anton;
    letter-spacing: .7px;
    font-weight: lighter;
  }

  p {
    margin-left: 20px;
    letter-spacing: .5px;
  }
} //end of top-header

img {
  height: 20px;
  margin-left: 15px;



}
header {
  // margin-top: 10px;
  padding-top: 10px;
  height: 40px;
  background-color: $blue;
  @include alinks;

}

.right-header {
  @include flex-rowOne;
  justify-content: flex-end;
  margin-left: 50px;
  // align-content: center;
  margin-top: -25px;

  .sign-in {
    text-align: right;

    a {
      margin-right: 5px;
      font-size: 12px;

    }
  }
  .make-it {
    // margin-top: 5px;
    text-align: right;
    margin-left: 20px;
    font-size: 12px;
    margin-right: 15px;
  }

  img {
    margin-left: 5px;
    margin-bottom: -5px;
  }

}

nav {
  background-color: $blue;
  @include flex-rowOne;
  @include alinks;

}
