@media screen and (max-width: 600px) {
  .top-header {
    position: absolute;
    h3 { display: none;
    }
    p {
    display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .photo-header {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .right-header {
    .make-usa {
      display: none;
    }
    #usa { display: none;
    }
  button {
    display: none;
    }
  .vl {
    display: none;
    }
  }

  nav {
    img {
      display: none;
    }
    .menu {
      float: none;
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .banner {
    img {
      display: none;
      }
    }
  }

  @media screen and (max-width: 600px) {
    section {
      img {
        display: none;
        }
      }
    }

@media screen and (max-width: 600px) {
  .row2 {
    .ink-banner {
      display: none;
      }
    }
  }

@media screen and (max-width: 600px) {
  .marcus{
     max-width: 599px;
     height: auto;
    }
  }

  @media screen and (max-width: 600px) {
    .photo-row3 {
      float: none;
       width: 100%;
       height: auto;
      }
    }
//
//   @media screen and (max-width: 768px) {
//     .row2 {
//        float: left;
//        width: 50%;
//       }
//     }
//
//     @media screen and (max-width: 768px) {
//       section {
//          display: none;
//         }
//       }
