@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;

}

@mixin flex-rowOne {
  display: flex;
  flex-direction: row;
}

@mixin alinks {
  font-family: $roboto;
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@mixin hover {
  &:hover {
      color: $gold;
    }
}
