@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;

}

@mixin flex-rowOne {
  display: flex;
  flex-direction: row;
}

@mixin alinks {
  font-family: $roboto;
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@mixin hover {
  &:hover {
      color: $gold;
    }
}

// @mixin row3Details {
//   img {
//     width: 523px;
//     height: 319px;
//     margin-top: 25px;
//     // margin-left: 210px;
//   }
// }

@mixin text-box {
  @include flex-rowOne;
  justify-content: flex-start;
  text-align: left;
  background-color: transparentize(black, 0.3);
  height: 25%;
  position: relative;
  margin-right: 70px;
  left: 35px;
  bottom: 160px;
  color: #bbb;
  font-family: $roboto;
  padding: 0px 60px;

  img {
    width: 70px;
    height: 70px;
    margin-left: -35px;
  }
  p {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
  }
}// end of text-box

@mixin text-setting {
  @include flex-rowOne;
  justify-content: flex-start;
  text-align: left;
  background-color: transparentize(black, 0.3);
  background-position: bottom;
  margin: 0;
  height: 25%;
  position: relative;
  float: left;
  // margin-right:556px;
  left: 210px;
  bottom: 83px;
  color: #bbb;
  font-family: $roboto;
  padding: 0px 60px;

  img {
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: 7px;
  }
  p {
    font-size: 20px;
    margin-top: 13px;
    margin-left: 10px;
  }
}
